@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

.App {
  padding: 1em;
  font-weight: bold;
}

a {
  color: rgb(11, 235, 11);
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

a:hover {
  color: red;
}

body {
  background-image: url("Recipe-IMG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  aspect-ratio: 1;
  max-width: none;
  margin: 0;
}

button {
  background-color: red;
  color: white;
  border: red;
  font-size: 16px;
}

button:hover {
  background-color: rgb(0, 8, 255);
  color: white;
  font-style: italic;
  transform: scale(1.5);
  border: solid white 1px;
}

button.create-btn {
  background-color: rgb(11, 235, 11);
  color: black;
  border: solid black 4px;
}

button.create-btn:hover {
  background-color: black;
  color: rgb(11, 235, 11);
  border: solid rgb(11, 235, 11) 1px;
  font-style: italic;
}

header h1 {
  text-align: center;
  font-family: "Playfair Display SC", serif;
  text-decoration: underline;
  font-size: 64px;
  color: rgb(40, 84, 244);
  margin: 0px;
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

html {
  font-family: "helvetica neue", sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt";
}

tbody tr:nth-child(odd) {
  align-items: center;
}

th {
  letter-spacing: 2px;
  padding: 10px;
  width: 10%;
  align-content: center;
  border: solid white;
  text-decoration: underline;
  font-size: 25px;
}

td img {
  object-fit: scale-down;
  width: 100%;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 17px;
  padding: 10px;
  text-align: left; /* Align to the left */
  width: 10%;
}

.content_td ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 0; /* Remove default margin */
}

.content_td li {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
  padding-bottom: 10px;
  margin: 0; /* Remove default margin */
}

.content_td input[type="checkbox"] {
  margin-right: 10px;
}

tr {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

tr :nth-child(n + 4):nth-child(-n + 5) {
  width: 30%;
}

tr {
  display: flex;
  width: 100%;
  font-size: 18px;
  border: solid white 2px;
}

input,
textarea {
  width: 100%;
}

@media only screen and (max-width: 498px) {
  header h1 {
    font-size: 32px;
  }

  td.content_td[data-label="Ingredients:"] {
    /* border:solid red; */
    text-align: left;
  }

  td.content_td[data-label="Preparation:"] {
    /* border:solid red; */
    text-align: left;
  }

  #New {
    text-align: center;
  }

  input,
  textarea {
    width: 50%;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  tr {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  textarea.ingredients {
    border: solid red;
  }

  td > img {
    width: 50%;
  }

  table {
    width: 100%;
  }

  tr :nth-child(n + 4):nth-child(-n + 5) {
    width: 90%;
    padding: 0px;
    margin: 10px;
  }

  th {
    font-size: 8px;
  }

  td {
    display: block;
    text-align: right;
    font-size: 90%;
    width: 90%;
    letter-spacing: 0px;
    padding: 15px;
  }

  .content_td ol {
    list-style-type: decimal;
    padding-left: 10px;
  }

  .content_td li {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 1px;
  }

  .content_td input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(0.8);
    width: auto;
  }

  button {
    font-size: 10px;
    padding: 10px 10px;
    width: 30%;
  }

  button:hover {
    border: solid white;
    transform: none;
    font-size: 20px;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    text-decoration: underline;
  }

  a:hover {
    color: red;
  }

  button.create-btn:hover {
    background-color: black;
    transform: scale(1);
    color: rgb(11, 235, 11);
    border: solid rgb(11, 235, 11) 1px;
    font-style: italic;
  }

  td.ingredients textarea {
    width: 65%;
    height: 100px;
  }

  td.preparation textarea {
    height: 100px;
    width: 72%;
  }

  tr.createNew {
    display: flex;
    flex-direction: column;
  }

  tr.createNew td {
    text-align: left;
    align-self: flex-start;
  }

  td.newName {
    width: 50%;
  }

  td.newCuisine {
    width: 50%;
  }

}
